<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
  
      <title>{{ shop.name | escape }} &mdash; {% if template == "404" %}Page Not Found{% else %}{{ page.title | escape }}{% endif %}</title>
		  <meta name="author" content="">
		  <meta name="robots" content="index,follow"/>
		  <meta name="description" content="">		  
		<!-- Facebook Open Graph -->
		
		{% if template=="product" %}
		<meta property="og:title" content="{{ product.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ product.url }}" />
    <meta property="og:image" content="{{ product.featured_image }}" />
    <meta property="og:site_name" content="{{ shop.name | escape }}" />
    {% endif %}
		<!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
    {{ content_for_header }}    
		<!-- Stylesheets -->
    {{ "skeleton.css" | asset_url | stylesheet_tag }}
    {{ "stylesheet.css" | asset_url | stylesheet_tag }}
		<!-- Icons -->
		<link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="72x72" href="">
    <link rel="apple-touch-icon" sizes="114x114" href="">
    <!-- Custom Fonts -->
      <link href='http://fonts.googleapis.com/css?family=' rel='stylesheet' type='text/css'>
		<!-- HTML5 Shiv -->
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>				
    <script src="http://cdn.shopify.com/s/shopify/option_selection.js?9fd9dfd1f19fc9697a332be81c44301984e9d0bd" type="text/javascript"></script>
    
    <!-- jQuery and jQuery fallback -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<!-- {{ "masonry.js" | asset_url | script_tag }}
		    {{ "jquery.easing.1.3.js" | asset_url | script_tag }} -->
		{{ "theme.js" | asset_url | script_tag }}    
		<!-- {{ "jquery.flexslider-min.js" | asset_url | script_tag }}
		    {{ "shop.js" | asset_url | script_tag }} -->
	  <!-- {{ "bootstrap-modal.js" | asset_url | script_tag }}
	    {{ "bootstrap-dropdown.js" | asset_url | script_tag }}
	    {{ "jquery.fittext.js" | asset_url | script_tag }} -->
    <!-- Initiate flexslider -->

	</head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
        <div id="logo" class="twelve columns">
          
            {% if settings.use_logo_image == true %} 
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /> 
            {% else %} 
              <h1 id="logo_text">{{ shop.name }}</h1> 
            {% endif %}
          
        </div><!-- #logo -->        
        <div id="cart_top" class="four columns">
          <p><a href="/cart">{{ cart.total_price | money }} </a><a href="/cart" class="btn {{settings.cart_btn_color}}">{{settings.cart_btn_text}}</a></p>
          <form id="search" action="/search"  method="GET">
            <input type="text" name="q" class="search" placeholder="search and hit enter...">
          </form>
        </div><!-- #cart_top -->
      <div class="sixteen columns contact_bar">
        <ul>
          {% if settings.show_phone == true %}<li><span class="contact_bar_label">Phone </span><a href="tel:1{{ settings.shop_phone | remove: '(' | remove: ')' | remove: ' ' | remove: '-' }}" class="phone_link">{{ settings.shop_phone }}</a></li>{% endif %}
          {% if settings.show_email == true %}<li><span class="contact_bar_label">Email </span><a href="mailto:{{ settings.shop_email }}?subject=hi" class="email_link">{{ settings.shop_email | escape }}</a></li>{% endif %}
          {% if settings.show_addr == true %}<li><span class="contact_bar_label">Local </span><a href="http://maps.google.com/maps?q={{ settings.shop_addr | replace: ' ', '+' }}" class="maps_link" target="_blank">{{ settings.shop_addr | escape }}</a></li>{% endif %}
        </ul>
      </div><!-- #contact_bar -->
        <div class="sixteen columns clearfix">    
          <div id="nav">
            <ul class="nav">{% for link in linklists.main-menu.links %}{% assign current = false %}{% if template == 'index' and link.url == '/' %}{% assign current = true %}{% elsif collection.url == link.url %}{% assign current = true %}{% elsif blog.url == link.url %}{% assign current = true %}{% elsif page.url == link.url %}{% assign current = true %}{% elsif page_title == link.title %}{% assign current = true %}{% elsif template == 'list-collections' and link.url == '/collections' %}{% assign current = true %}{% elsif page_title == 'Products' and link.url == '/collections/all' %}{% assign current = true %}{% elsif template == 'article' and link.url == article.url %}{% assign current = true %}{% endif %}
              {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
              <li {% if forloop.first %}class="first"{% endif %} {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}class="dropdown" data-dropdown="dropdown"{% endif %}>
                  <a class="{% if current %}active{% endif %}{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %} dropdown-toggle{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                  
                  {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                  <ul class="dropdown-menu">
                    {% for l in linklists[child_list_handle].links %}
                    <a href="{{ l.url }}"><li>{{ l.title }}</li></a>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
      {{ content_for_layout }}
      <div id="footer" class="sixteen columns">
        <div id="footer_row_1" class="sixteen columns clearfix">
          <div class="contact_bar">
            <ul>
              {% if settings.show_phone == true %}<li><span class="contact_bar_label">Phone </span><a href="tel:1{{ settings.shop_phone | remove: '(' | remove: ')' | remove: ' ' | remove: '-' }}" class="phone_link">{{ settings.shop_phone }}</a></li>{% endif %}
              {% if settings.show_email == true %}<li><span class="contact_bar_label">Email </span><a href="mailto:{{ settings.shop_email }}?subject=hi" class="email_link">{{ settings.shop_email | escape }}</a></li>{% endif %}
              {% if settings.show_addr == true %}<li><span class="contact_bar_label">Local </span><a href="http://maps.google.com/maps?q={{ settings.shop_addr | replace: ' ', '+' }}" class="maps_link" target="_blank">{{ settings.shop_addr | escape }}</a></li>{% endif %}
            </ul>
          </div><!-- #contact_bar -->
          
        </div><!-- #footer_row_1 -->
        <div id="footer_row_2" class="clearfix">
         <div id="social" class="eight columns alpha">
            <h3>Sharing is caring</h3>
            <ul>
              {% if settings.show_tweet == true %}<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ settings.shop_twitter }}" data-lang="en">Tweet</a></li>{% endif %}
              {% if settings.show_fb == true %}<li><div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></li>{% endif %}
              {% if settings.show_plusone == true %}<li><g:plusone size="medium"></g:plusone></li>{% endif %}
            </ul>
          </div><!-- #social -->
          <div id="newsletter" class="eight columns omega">
            <h3>Join our newsletter</h3>
            <div id="mc_embed_signup">
              <form action="{{ settings.mc_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
              <div class="mc-field-group">
              	<input type="email" value="" name="EMAIL" class="required email chimp" id="mce-EMAIL" placeholder="email...">
              </div>
              	<div id="mce-responses">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
              	<input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="chimp_go btn gray">
              </form>
            </div>
          </div><!-- #newsletter -->
        </div><!-- #footer_row_2 -->
        <div id="footer_row_3" class="sixteen columns clearfix">
          <div id="copyright" class="one-third column alpha">
            <p>&copy; {{ shop.name | escape }} {{ 'now' | date: "%Y" }} {{ powered_by_link }}</p>
          </div><!-- #copyright -->
          <div id="nav_footer" class="two-thirds column omega">            
            <ul>
              {% for link in linklists.footer.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div><!-- nav footer -->
          </div><!-- #footer_row_3 -->
      </div><!-- end footer -->
    </div><!-- #container -->
    {% if settings.show_contact_form == true %}
    <a href="#modal-contact-form" title="Contact Us" class="rotate contact_link" data-controls-modal="modal-contact-form" data-backdrop="true" data-keyboard="true">Feedback</a>
    <div id="modal-contact-form" class="modal hide">
      <div class="modal-header">
        <a href="#" class="close">x</a>
        <h3>{{ settings.greeting_contact_form }}</h3>
      </div>
      <div class="modal-body">
      {% form 'contact' %}
         {% if form.posted_successfully? %}
           <p class="success-msg">Thanks for contacting us! We'll get back to you as soon as possible.</p>
         {% endif %}
         {% if form.errors %}
         <p class="error-msg">
           <ul class="error-list">
           {% for field in form.errors %}
             <li>{{ field }} - {{ form.errors.messages[field] }}</li>
           {% endfor %}
           </ul>
         </p>
         {% endif %} 
         <ul id="contact-form">
           <li class="clearfix type-text">
             <label for="name">Name</label>
             <input type="text" id="name" name="contact[email]" />
           </li> 
           <li class="clearfix type-text">
             <label for="email">Email</label>
             <input type="email" id="email" class="email" name="contact[email]" />
           </li>   
           <li class="clearfix type-textarea">
             <label for="message">Message</label>
             <textarea id="message" name="contact[body]"></textarea>
           </li>
           <li class="clearfix type-submit">
             <input type="submit" class="submit btn blue" value="Send" />
           </li>
         </ul>
       {% endform %}
       </div><!-- modal-body -->
     </div><!-- modal-contact-form -->
     {% endif %}
    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- Google -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>