<!--begin left-column--> 
<div id="blog_left_col" class="ten columns">

	<div class="blog_post">
	
	<div class="article">
  	<div>
    	<p class="user"></p>
			<h2 class="blog_post_title">{{ article.title }}</h2>
    	<h3 class="blog_post_date"><p>by {{ article.author }} on {{ article.created_at | date: "%B %d, %Y" }}</p></h3>
			<div class="textile">
		  	{{ article.content }}
			</div>
  	</div>
  		
	</div>

{% if blog.comments_enabled? %}
<div id="comments">
  <h4 class="blog_secondary_title">Comments</h4>
  <!-- List all comments -->

  {% if article.comments == empty %}
    <p class="box"><em>There are no comments yet</em></p>
  {% else %}
    <ul class="inner">
    {% for comment in article.comments %}
      <li>
        <div class="comment">
          {{ comment.content }}
        </div>
      
    	  <div class="comment_details">
    		  <em>Posted by {{ comment.author }} on {{ comment.created_at | date: "%B %d, %Y" }}</em>
        </div>

				<div class="dotted_divider"></div>
				
    	</li>
    {% endfor %}
    </ul>
  {% endif %}
  
  <!-- Comment Form -->
  {% form article %}
   <div class="comment_form" id="comment-form">

     <h2 class="title">Leave a comment</h2>    

     {% if form.posted_successfully? %}
       {% if blog.moderated? %}
         <div class="success-msg">
           Your comment has been successfully submitted. It must be approved before it is published.
         </div>
       {% else %}
         <div class="success-msg">Successfully posted your comment.</div>
       {% endif %}
     {% endif %}

     {% if form.errors %}
       <div class="notice error-msg">Not all the fields have been filled out correctly!</div>
     {% endif %}

     {% if blog.moderated? %}
     <p class="notice">Please note: comments must be approved before they are published.</p>
     {% endif %}   


     <div class="clearfix{% if form.errors contains 'author' %} has-error{% endif %}">
       <label for="comment_author">Name <strong class="req">*</strong></label>
       <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text {% if form.errors contains 'author' %}input-error{% endif %}" />
     </div>
     <div class="clearfix{% if form.errors contains 'email' %} has-error{% endif %}">
       <label for="comment_email">Email <strong class="req">*</strong></label>
       <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text {% if form.errors contains 'email' %}input-error{% endif %}" />
     </div>
     <div class="clearfix{% if form.errors contains 'body' %} has-error{% endif %}">
       <label for="comment_body">Comment <strong class="req">*</strong></label>
       <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
     </div> 

     <input type="submit" value="Post comment" id="comment-submit" class="btn gray" />

     {% endform %}
</div>
{% endif %}

</div>
</div>
</div>
<!--end left-column-->

<!--begin right-column--> 
<div id="blog_right_col" class="five columns offset-by-one">
	
	<h3 class="right-column-heading"><a class="rss-icon" href="{{ blog.url }}.atom"><img src="{{ 'icon-rss.png' | asset_url }}" width="12" height="12" alt="RSS Feed"></a>Recent Posts</h3>	
	
	{% for article in blog.articles limit:7 %}
	<ul>
		<li><a href="{{ article.url }}">{{ article.title }}</a></li>
	</ul>
	{% endfor %}
	
</div>
<!--end right-column-->