<!--begin left-column--> 
<div id="blog_left_col" class="ten columns">
		
	{% paginate blog.articles by 5 %}
		{% for article in blog.articles %}
		<a name="article-{{ article.id }}"></a>

		<div class="article {% if forloop.first %}first{% endif %}">
    	<div class="blog-post">
				<div>
      	<p class="user"></p>
  			<h2 class="blog_post_title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
      	<h4 class="blog_post_date"><p>by {{ article.author }} on {{ article.created_at | date: "%B %d, %Y" }}</p></h4>
				<div class="textile">
  		  	{{ article.content }}
  			</div>
    	</div>
    
  		<div class="blog_details">
      		<ul>
						<li class="continue"><a class="btn gray" href="{{ article.url }}">Continue Reading &raquo;</a></li>
					</ul>
  		</div>
			<div style="clear: both"></div>
			</div>
			</div>

			{% endfor %}
	
			{% if paginate.pages > 1 %}
			<div class="pagination">
					{{ paginate | default_pagination }}
			</div>
			{% endif %}

	{% endpaginate %}

</div>
<!--end left-column-->

<!--begin right-column--> 
<div id="blog_right_col" class="five columns offset-by-one">
	
	<h3 class="blog_right_col_heading"><a class="rss_icon" href="{{ blog.url }}.atom"><img src="{{ 'icon-rss.png' | asset_url }}" width="12" height="12" alt="RSS Feed"></a>Recent Posts</h3>
	
	{% for article in blog.articles limit:7 %}
	<ul>
		<li><a href="{{ article.url }}">{{ article.title }}</a></li>
	</ul>
	{% endfor %}
	
</div>
<!--end right-column-->