{% paginate collection.products by 16 %}

<div id="featured-products" class="sixteen columns">
	
	<h3 class="featured-products-title">{{ collection.title }}</h3>
	
	{% if collection.description %}
	<div id="catalog-description">
		<p>{{ collection.description }}</p>
	</div>
	{% endif %}
	
	{% if collection.products.size == 0 %}
		<strong>No products found in this collection.</strong>
		{% else %}		
		<div id="collection_collection">		
  		{% for product in collection.products %}
  		  <div class="product brick">
    		  <a href="{{ product.url | within: collection }}">
    		    <span class="product-image-wrapper"><img class="product-image" src="{{ product.images.first | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /></span>
    		    <div class="brick_description">
    		    <span class="product_title">{{ product.title }}</span><br/>
            <span class="featured_price">{% if product.compare_at_price_max > product.price %}<span class="was_price"><del>{{ product.compare_at_price_max | money }}</del></span>{% endif %} <strong>{{ product.price  | money }}</strong></span>
            {% if product.tags contains 'sale' %}<span class="sale">Sale</span>{% endif %}
            </div>
    		  </a>
  		  </div>		
  		{% endfor %}
		</div>	
		<script type="text/javascript" charset="utf-8">
    $(function(){
       var $container = $('#collection_collection');
       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : '.brick',
           columnWidth: 230
         });
       });
     });
    </script>
			{% if paginate.pages > 1 %}
  		<div class="pagination">
  			<ul>
  				<li>{{ paginate | default_pagination }}</li>
  			</ul>
  		</div>
			{% endif %}

	{% endif %}

</div>
{% endpaginate %}