{% case settings.frontpage_banner_select %}
{% when 'slider' %}
<div class="sixteen columns flexslider slider_frontpage">
  <ul class="slides">
    <li><a href="{{ settings.slide_link_1 }}">{{ "slide_img_1.png" | asset_url | img_tag }}{% if {{settings.slide_caption_1 | size}} > 0 %}<p class="flex-caption no-underline">{{ settings.slide_caption_1 | escape }}</p>{% endif %}</a></li>
    <li><a href="{{ settings.slide_link_2 }}">{{ "slide_img_2.png" | asset_url | img_tag }}{% if {{settings.slide_caption_2 | size}} > 0 %}<p class="flex-caption no-underline">{{ settings.slide_caption_2 | escape }}</p>{% endif %}</a></li>
    <li><a href="{{ settings.slide_link_3 }}">{{ "slide_img_3.png" | asset_url | img_tag }}{% if {{settings.slide_caption_3 | size}} > 0 %}<p class="flex-caption no-underline">{{ settings.slide_caption_3 | escape }}</p>{% endif %}</a></li>
    <li><a href="{{ settings.slide_link_4 }}">{{ "slide_img_4.png" | asset_url | img_tag }}{% if {{settings.slide_caption_4 | size}} > 0 %}<p class="flex-caption no-underline">{{ settings.slide_caption_4 | escape }}</p>{% endif %}</a></li>
    <li><a href="{{ settings.slide_link_5 }}">{{ "slide_img_5.png" | asset_url | img_tag }}{% if {{settings.slide_caption_5 | size}} > 0 %}<p class="flex-caption no-underline">{{ settings.slide_caption_5 | escape }}</p>{% endif %}</a></li>
  </ul>
</div><!-- #slider_frontpage -->
{% when 'banner' %}
<div class="sixteen columns">
    {{ 'banner_img.png' | asset_url | img_tag }}
</div>
{% else %}
{% endcase %}
<div class="sixteen columns clearfix right_col_frontpage">
  {% if settings.message_bar_frontpage %}
  <div id="message_bar_frontpage">
    {{ pages.[settings.message_bar_frontpage_page].content }}
  </div><!-- #message_bar_frontpage -->
  {% endif %}
  <div id="collection_frontpage">
    {% for link in linklists.front-page.links %}
      <div class="brick {% if link.type == 'product_link' %}product{% endif %}">
      {% if link.type == 'product_link' %}
      <a href="{{ link.object.url }}" title="see more detail on {{ link.object.title }}">
      <img src="{{ link.object.featured_image | product_img_url: 'large' }}" alt="{{ link.object.title }}" >
      <div class="brick_description">
      <span class="product_title">{{ link.object.title }}</span><br/>
      <span class="featured_price">{% if link.object.compare_at_price_max > link.object.price %}<span class="was_price"><del>{{ link.object.compare_at_price_max | money }}</del></span>{% endif %} <strong>{{ link.object.price  | money }}</strong></span>
      {% if link.object.tags contains 'sale' %}<span class="sale">Sale</span>{% endif %}
      </div>
      </a>
      {% elsif link.type == 'page_link' %}
      <span class="frontpage_page">{{ link.object.content }}</span>
      {% endif %}
      </div>
    {% endfor %}
  </div><!-- #collection_frontpage -->
</div><!-- #right_col_frontpage -->
  <script type="text/javascript" charset="utf-8">
  if (screen.width > 700){
  $(function(){
     var $container = $('#collection_frontpage');
     $container.imagesLoaded( function(){
       $container.masonry({
         itemSelector : '.brick',
         columnWidth: 230
       });
     });
   });
 };
  </script>
