<div class="sixteen columns flexslider slider_frontpage">
  <ul class="slides">
    <li>{{ "sliderimg1.jpg" | asset_url | img_tag }}</li>
    <li>{{ "sliderimg2.jpg" | asset_url | img_tag }}</li>
    <li>{{ "sliderimg3.jpg" | asset_url | img_tag }}</li>
    <li>{{ "sliderimg4.jpg" | asset_url | img_tag }}</li>
    <li>{{ "sliderimg5.jpg" | asset_url | img_tag }}</li>
  </ul>
</div><!-- #slider_frontpage -->

<div class="sixteen columns clearfix right_col_frontpage">
  {% if settings.message_bar_frontpage %}
  <div id="message_bar_frontpage">
    {{ pages.[settings.message_bar_frontpage_page].content }}
  </div><!-- #message_bar_frontpage -->
  {% endif %}
  <div id="collection_frontpage">
    {% for link in linklists.front-page.links %}
      <div class="product_frontpage">
      {% if link.type == 'product_link' %}
      <img src="{{ link.object.featured_image | product_img_url: 'large' }}" >
      <span class="product_title">{{ link.object.title }}</span>
      <span class="product_price">{{ link.object.price | money }}</span>
      <span class="product_more"><a href="{{ link.object.url }}" title="see more detail on {{ link.object.title }}">View</a></span>
      {% elsif link.type == 'page_link' %}
      <span class="front_page_quote">{{ link.object.content }}</span>
      {% endif %}
      </div>
    {% endfor %}
  </div><!-- #collection_frontpage -->
</div><!-- #right_col_frontpage -->
  <script type="text/javascript" charset="utf-8">
  $(function(){

     var $container = $('#collection_frontpage');


     $container.imagesLoaded( function(){
       $container.masonry({
         itemSelector : '.product_frontpage',
         columnWidth: 230
       });
     });

   });

  </script>
